html{
    font-size: 20px;
}

body{
    background-color: darkcyan;
    color: whitesmoke;
    font-family: "Nunito", sans-serif;
    min-height: 100vh;

}
.mod {
    margin-top: 1 rem;
    padding-left: 20px;
    border: 1px solid red;
}

.mod model-viwer{
    width: 25%; 
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    float: left;
}
.block {
width: 30vw;
height: 30vw;
}

.left {
    float:left;
}